<h3>Days ago example</h3>
<ul class="list-group">
    <li *ngFor="let i of dataArray">
        {{i.name}}
        <span>
                {{i.date | dayAgo}}
        </span>
    </li>
</ul>


<!-- <p>pipes works!</p>
name = {{name | uppercase}}
<br>
surname = {{surname | lowercase}}
<br>
Date ->{{todaydate | date:'dd/MMMM/yyyy HH:mm:ss'}}
<br>
Date ->{{todaydate | date:'mediumTime'}}
<br>
<br>
cr = >{{rs | currency:"INR":true}}

<br>
<br>
{{rs|number:'3.2'}}

<br>

{{jsonvalue | json}}

<br>
{{months | slice:2:6}}

<br><br><br><br>
My Sal :{{salary| salary:"." :"EUR"}}



 -->