<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="row">


        <div class="card" style="width: 28rem; margin-left: 30px;">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                Name :-<input type="text" formControlName="name">
                <br>
                Date :-<input type="date" formControlName="date">
                <br><br>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>
        <div class="card" style="width: 28rem;">

            
            <div class="card-body" *ngFor="let d of data">
                <div *ngFor ="let p of d.provinces">
                <h5 class="card-title">DATA</h5>
                <h3>COUNTRY :-{{d.country}}</h3>
                <h3>Confirmed Case :-{{p.confirmed}}</h3>
                <h3>Deaths :-{{p.deaths}}</h3>
                <h3>Date :-{{d.date}}</h3>
            </div>
            </div>
        </div>
    </div>
</form>